html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    width: 50px;
    text-align: center;
    border: 2px solid white;
    padding: .4rem .4rem;
}

th:first-child {
    width: auto;
    text-align: left;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

span.difference {
    display: block;
    font-size: .75em;
    margin-top: .5em;
}